

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container" style="background:white ; border-radius:15px ; border: 2px solid brown;" >
    <h1> Informations personnelles  <button class="btn bouton" ng-click=$ctrl.modifications() ng-if="!$ctrl.modif"> Modifier </button> </h1>
    <div class="table-responsive">
    <table ng-if="!$ctrl.modif" class="table-striped table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td> Nom: </td> <td> {{$ctrl.clientConnecte.nom}} </td>
            </tr>
            <tr>
                <td> Prenom: </td> <td> {{$ctrl.clientConnecte.prenom}} </td>
            </tr>
            <tr>
                <td> Email: </td> <td> {{$ctrl.clientConnecte.email}} </td>
            </tr>
            <tr>
                <td> Mot de passe: </td> <td> ****** </td>
            </tr>
            <tr>
                <td> Adresse: </td> <td> {{$ctrl.clientConnecte.adresse}} </td>
            </tr>

        </tbody>
    </table>

    <form name="formMAJ">
    <table ng-if="$ctrl.modif" class="table-striped table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td> Nom: </td> <td>  <input id="nomClient" name="nomClient" ng-model="$ctrl.clientConnecte.nom" type="text" value="JAIMERAIS QUE TU TAFFICHES" class="form-control"></td>
            </tr>
            <tr>
                <td> Prenom: </td> <td> <input id="prenomClient" name="prenomClient" ng-model="$ctrl.clientConnecte.prenom" type="text" value="Votre prenom" class="form-control"> </td>
            </tr>
            <tr>
                <td> Email: </td> <td> <input id="emailClient" name="emailClient" ng-blur="$ctrl.emailExiste(formMAJ)" required ng-model="$ctrl.clientConnecte.email" type="email" value="Votre email" class="form-control">
                <p class="text-danger" ng-if="formMAJ.emailClient.$error.email 
                    && formMAJ.emailClient.$touched">Votre email est invalide !</p>
                <p class="text-danger" role="alert" ng-if="formMAJ.emailClient.$error.required">Veuillez rentrer un email !</p> 
                
                </td>
            </tr>
            <tr>
                <td> Adresse: </td> <td>  <input id="adresseClient" name="adresseClient" ng-model="$ctrl.clientConnecte.adresse" type="text" value="Votre adresse" class="form-control"> </td>
            </tr>
            <tr>
                <td> Mot de passe actuel: </td> 
                <td>
                     <input id="currentMdpClient" name="currentMdpClient" ng-blur="!$ctrl.testMdpUtilisateur(formMAJ)" ng-model="$ctrl.currentMdp" type="password" class="form-control">
                     <p class="text-danger" role="alert" ng-if="formMAJ.currentMdpClient.$error.mdp_faux"> Mot de passe incorrect </p>
                </td>
            </tr>
            <tr>
                <td> Nouveau mot de passe: </td> 
                <td>
                     <input id="mdpClient" name="mdpClient" ng-model="$ctrl.newMdp" type="password" class="form-control">  
                </td>          
            </tr>
             <tr>
                <td> Ressaisir mot de passe: </td> 
                <td>
                    <input id="confMdpClient" name="confMdpClient" ng-model="$ctrl.newMdp2"  type="password"  class="form-control">
                    <p class="text-danger" ng-if="$ctrl.newMdp !== $ctrl.newMdp2 && formMAJ.mdpClient.$touched && formMAJ.confMdpClient.$touched">
                        Les mots de passe ne sont pas identiques !                
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <button  ng-if="$ctrl.modif" 
            ng-disabled="formMAJ.$invalid || $ctrl.newMdp !== $ctrl.newMdp2 || formMAJ.currentMdpClient.$error.mdp_faux" 
            type="submit" class="btn bouton" ng-click="$ctrl.soumissionFormulaire()"> Modifier Informations </button>
        </tfoot>
        
    </table>
     
    </form>
    </div>
</div>

    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Mot de passe :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        ******
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divEmail" class="form-group">
                <input id="mdpClient" name="mdpClient" ng-model="$ctrl.clientConnecte.motDePasse" type="password" value="Votre mot de passe" class="form-control">
                <p class="text-danger" ng-if="formInscription.mdpClient.$error.required 
                        && formInscription.mdpClient.$touched">Veuillez rentrer un mot de passe !</p>

                <input id="confMdpClient" name="confMdpClient" ng-model="$ctrl.confMdp" type="password" value="Confirmez votre mot de passe" class="form-control">
                <p class="text-danger" ng-if="$ctrl.clientConnecte.motDePasse !== $ctrl.confMdp && formInscription.mdpClient.$touched && formInscription.confMdpClient.$touched">Les mots de passe ne sont pas identiques !</p>
            </div>
        </form>
    </div>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1> Commandes </h1>
    <table class="table">
        <thead>
            <tr>
                <th> Date </th>
                <th class="hidden-xs"> N° de commande </th>
                <th class="hidden-xs"> Statut </th>
                <th class="hidden-xs"> Prix </th>
                <th> Détails </th>
            </tr>
        </thead>
        <tbody>
            <<tr ng-repeat="commande from $ctrl.commandes">
                <td> commande.dateCommande </td>
                <td class="hidden-xs"> commande.numeroCommande </td>
                <td class="hidden-xs"> commande.statut </td>
                <td class="hidden-xs"> commande.prix </td>
                <td> <a href="/commande/{{commande.id}}" class="btn pull-right dernieres-pizzas" role="button"> Ajouter au panier </a> </td>x
            </tr>
</tbody>
</div>-->